.box {
  background-color: rgb(139, 248, 139);
  border-radius: 8px;
  padding: 16px;
  max-width: 1000px;         /* Responsive max width */
  margin: 20px auto;         /* Center horizontally */
  text-align: center;
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  border-radius: 8px;
  padding: 16px;
}

.product-item {
  background-color: rgb(230, 239, 233);
  padding: 10px 16px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(190, 140, 140, 0.1);
  min-width: 120px;
  text-align: center;
}
